<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <appSettings>

        <!-- Google Settings -->
        <add key="Google_ApplicationName" value="EsendexSimpleReminders"/>
        <add key="Google_CalendarUrl" value="http://www.google.com/calendar/feeds/default/private/full"/>
        <add key="Google_Username" value="[username here]"/>
        <add key="Google_Password" value="[password here]"/>

        <!-- Esendex settings -->
        <add key="Esendex_Account" value="[Esendex account here]" />
        <add key="Esendex_Username" value="[Esendex username here]" />
        <add key="Esendex_Password" value="[Esendex password here]" />

    </appSettings>
    
    <connectionStrings>
        <add name="AppointmentsDb"
             connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;User Instance=false;Initial Catalog=AppointmentsDb"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>